<!--
* Author: Peter Lewis
* Product Name: LED POSTER ADs
* Version: 5
* Website:  https://www.ledposter.co.za
* Contact: support@ledposter.co.za
-->
<!DOCTYPE html>
<html lang="en">

        <head>
             <meta charset="utf-8">
        <title>Dashboard | LED POSTER ADs</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="LED Posters high quality media display devices along with the facility to connect to our Advertising platform to earn advertising revenue">
            <meta name="keywords" content="LED Poster, Marketing poster, digital marketing, LED Poster Averts">
            <meta name="author" content="Peter Lewis">

    
        </head>

<body>
    <!-- Begin page -->
    <div class="wrapper">
                <form method="POST" action="/malladd">
                      <input list="provinces" type="text" name="province" 
                      id="provinceInput" placeholder="Province" autocomplete="off"
                      hx-get="/provinces"
                      hx-target="#provinces"
                      hx-trigger="load">
                      <datalist id="provinces">
                        <#list provincetable as provincetables>
                          <option value="${provincetables!province}">
                        </#list>
                      </datalist>
                      <input type="text" name="mallnameInput" placeholder="Mall Name" value="Gateway">
                      <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                            
   </div>
            <!-- Footer Start -->
             <footer class="footer">
              
            </footer>
            <!-- end Footer -->
    </div>
        <!-- ============================================================== -->
        <!-- End of Main Content -->
        <!-- ============================================================== -->

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</body>
</html>